body {
    font-family: 'Montserrat', sans-serif;
}
.top {
    border-style:solid; 
    background-image: url('https://images.unsplash.com/photo-1425036458755-dc303a604201?ixlib=rb-0.3.5&q=80&fm=jpg&w=1080&fit=max&s=b65fa25ae814087b2e6caa9a49d72326');
    background-size: cover;
    height: 100vh; 
    text-align: center;
}
.top img {
    height: 400px;
    padding-top: 98px;
}
.top div {
    padding-top: 5px;
}
.top div h1{
    margin-bottom: 20px; 
    font-weight: 300; 
    color: white;
}
.top div h2{
    color:white;
    font-size: 22px;
    text-align: center;
}
.top div p {
    color: white;
}
.content {
    text-align: center;
}

.container {
    text-align: center;
}

@media (min-width:800px){  
 .container{
  width:98vwpx  
}   
}

nav{
    min-height:50px;
    background-color:#E0FFFF;
}

nav div{
    padding-top:5px;
}

nav a{
    color:darkblue;
}

nav a:hover{
    color:darkblue;
    text-decoration: none;
}

nav a h4{
    opacity:0.7;
    font-size: 16px;
}


nav a h4:hover{
    opacity:1;
}

footer{
    background-color:#E0FFFF;
    min-height:80px;
    margin-top: 40px;
}
footer ul li{
    list-style: none;
}

footer .row{
    background-color: #E0FFFF;
}
.contact-form-footer{
    padding-top: 10px;
    padding-bottom:10px;
}

@media (max-width: 700px){
.extra {display: none;
    fontsize: 20px;
}
}
}

.hi {
    padding:30px 30px 30px;
}